@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200&family=Playfair+Display:ital,wght@1,500&family=Roboto+Flex:opsz@8..144&family=Ubuntu:wght@500&display=swap");

* {
  font-family: "Ubuntu", sans-serif;
  font-weight: 109px;
}

/* .paper {
  padding: 2px;
  width: 150%;
} */

.formcss {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 1px;
  padding: 5rem;
}

.fileInput {
  width: 97%;
  margin: 10px 10px;
}

form {
  border-width: 2px;
  border-style: outset;
  border-color: #006100;
  padding: 2px 10px;
  border-radius: 0.3rem;
}

.head {
  text-align: center;
  padding-bottom: 0.4em;
  border-bottom: 2px solid #006100;
  margin-bottom: 2px;
}

.other {
  width: 99%;
  margin: 3px 0 !important;
}

.buttonSubmit {
  margin-right: 0.4rem !important;
  padding: 8px;
}
.buttonClear {
  padding: 8px;
  margin-left: 80px;
}
