@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');
.border {
  border: solid;
}
.fullHeightCard {
  height: 100%;
}
/* .card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 15px;
  height: 100%;
  position: relative;
} */
.media {
  height: 0;
  padding-top: 56.25%;
  background-color: rgba(0, 0, 0, 0.2);
  background-blend-mode: darken;
}
.overlay {
  position: absolute;
  top: 20px;
  left: 20px;
  color: white;
}
.overlay2 {
  position: absolute;
  top: 20px;
  right: 20px;
  color: white;
}
.grid {
  display: flex;
}
.details {
  display: flex;
  justify-content: space-between;
  margin: 20px;
}
.title {
  padding: 0 16px;
}
.cardActions {
  /* padding: 0 2em 1em 2em; */
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin: 0 auto;
}